/* Write your CSS here */
.app-Container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.money-Manager-App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
  width: 90%;
}
.user-Container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  height: 25vh;
  width: 100%;
  margin: 15px;
  border-radius: 15px;
  padding-left: 17px;
  font-family: Roboto;
}
.heading {
  font-size: 30px;
  padding: 0px;
  margin: 0px;
}
.welcome {
  font-size: 18px;
  color: #475569;
}
.spanEle {
  color: #0b69ff;
}

.transaction-Item-Container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.transaction-history-Container {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.form-Container {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin: 2%;
  font-family: Roboto;
  border: 1px solid #cbd5e1;
  padding: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.form-Heading {
  font-size: 25px;
  display: flex;
  align-self: flex-start;
}
input {
  width: 70%;
  margin-bottom: 12px;
  padding: 10px;
  font-size: 20px;
}

label {
  padding-left: 4rem;
  display: flex;
  align-self: flex-start;
  font-family: Roboto;
  font-size: 20px;
}

select {
  width: 70%;
  margin-bottom: 12px;
  padding: 10px;
  font-size: 20px;
}

.addBtn {
  text-align: center;
  color: white;
  background-color: #0b69ff;
  padding: 10px;
  margin: 5px;
  display: flex;
  align-self: flex-start;
  margin-left: 4rem;

  border-radius: 8px;
  border: 0px;
}

.history-Container {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin: 2%;
  font-family: Roboto;
  border: 1px solid #cbd5e1;
  padding: 15px;

  border-radius: 8px;
}

.history-List-Container {
  display: flex;
  flex-direction: column;
  width: 99%;

  font-family: Roboto;
  border: 1px solid #cbd5e1;
  padding: 15px;
}

.history-Title-Container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.history-title {
  font-size: 18px;
  padding-right: 15px;
}
.title {
  padding-right: 25px;
}
.line {
  width: 100%;
  height: 1px;
}
.list-Container {
  list-style: none;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .user-Container {
    align-items: center;
    padding: 10px;
  }
  .heading {
    font-size: 18px;
  }
  .welcome {
    font-size: 15px;
  }

  .transaction-Item-Container {
    flex-direction: column;
  }
  .transaction-history-Container {
    flex-direction: column;
  }
  .form-Container {
    width: 100%;
  }
  input,
  select {
    font-size: 12px;
  }
  .history-Container {
    width: 100%;
  }
}
